html, body {
    height: 100%;
  }

.clickable-img {
  transition: transform 0.3s ease-in-out;
}

.clickable-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.accordion-header {
    background-color: #f5f8fa;
    color: #000000;
}

.checkBtn {
  color: black;
}

.checkBtn:hover {
  background-color: green !important;
}