{% extends "layout.html" %}

{% block title %}
    Active workout
{% endblock %}


{% block main %} 

<div class="row justify-content-center">
    <div class="col-sm col-md-10 col-lg-8">

        <div class="row justify-content-start">
            <div class="col-auto">
                <h1 class="display-6">{{ activePlanName }}</h1>
            </div>
        </div>

        <div class="row justify-content-start py-3">
            <div class="col-auto">
                <p class="lead">{{ exc_count }} Excercises</p>
            </div>

            <div class="col-auto">
                <button type="button" class="btn btn-light" aria-current="true" data-bs-toggle="modal" data-bs-target="#addExc">Add excercise</button>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="row">
                
                <div class="col-1">
                    <!-- numbered disabled buttons for exercise order with one active one; change color oncen finished -->
                    {% for i in plan_details %}
                        <div class="row py-1 justify-content-center">
                            <label class="col-auto btn btn-sm btn-outline-secondary rounded-circle disabled {{ 'w-50' if loop.index == active else '' }} {{ '' if counterList[loop.index0] else 'bg-secondary text-white'}}">{{ loop.index }}</label>
                        </div>
                    {% endfor %}

                </div>

                <form action="/active_workout" class="col-10 border border-dark rounded-1" method="post">
                    <div class="row border-bottom border-dark">

                        <div class="col-2">
                            <img src="/static/img/{{ active_exc['exc_id'] }}.png" alt="{{ active_exc['name'] }}" width="64" height="64">
                        </div>

                        <div class="col-5">
                            <p class="lead mb-0">{{ active_exc['name'] }}</p>
                            <small class="text-muted">
                                
                                {{ active_exc['set_count'] }} sets
                                
                                {% if active_exc['rep_count'] %}
                                    &middot; {{ active_exc['rep_count'] }} reps
                                {% endif %}

                                {% if active_exc['weight'] %}
                                    &middot; {{ active_exc['weight'] }} kg
                                {% endif %}
                                
                                {% if active_exc['duration'] %}
                                    &middot; {{ active_exc['duration'] }} sec
                                {% endif %}

                            </small>
                        </div>

                        <div class="col">
                            <div class="row justify-content-end">
                                <button class="col-auto btn btn-outline-dark border-0" aria-current="true" data-bs-toggle="modal" data-bs-target="#info">info</button>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="py-2">

                            {% for n in range(1, active_exc['set_count'] + 1) %}
                                <div class="row justify-content-start py-1">
                                    <div class="col-2 lead">
                                        {{ n }}
                                    </div>                                       
                                                                                                                
                                    {% if active_exc['rep_count'] %}
                                        <div class="col-2">
                                            <input type="number" class="form-control" id="rep_count_{{ n }}" name="rep_count_{{ n }}" value="{{ active_exc['rep_count'] }}" min="0" step="1">
                                        </div>
                                        <div class="col-auto">                                                    
                                            <label for="rep_count_{{ n }}" class="col-form-label">reps</label>
                                        </div>
                                    {% endif %}

                                    {% if active_exc['weight'] %}
                                        <div class="col-1"><small class="text-muted">/</small></div>
                                        <div class="col-2">                                                    
                                            <input type="number" class="form-control" id="weight_{{ n }}" name="weight_{{ n }}" value="{{ active_exc['weight'] }}">
                                        </div>
                                        <div class="col-auto">
                                            <label for="weight_{{ n }}" class="col-form-label">kg</label> 
                                        </div>                                           
                                    {% endif %}
                                    
                                    {% if active_exc['duration'] %}
                                        <div class="col-2">
                                            <input type="number" class="form-control" id="duration_{{ n }}" name="duration_{{ n }}" value="{{ active_exc['duration'] }}">
                                        </div>
                                        <div class="col-auto">
                                            <label for="duration_{{ n }}" class="col-form-label">sec</label>
                                        </div>
                                    {% endif %}

                                    <div class="col-auto d-flex align-items-center">
                                        <input type="checkbox" class="btn-check" id="checkBtn_{{ active_exc['id'] }}_{{ n }}" name="checkBtn" value="{{ active_exc['id'] }}_{{ n }}">
                                        <label class="btn btn-sm btn-outline-secondary rounded-5 checkBtn" for="checkBtn_{{ active_exc['id'] }}_{{ n }}">&check;</label>
                                    </div>
                                </div>

                            {% endfor %}
                             
                            <div class="row justify-content-start pt-3 pb-5">
                                <div class="col-2">
                                    <button class="col-auto btn btn-sm btn-outline-dark mx-3 submitBtn" type="submit" name="submitBtn" value="addSetBtn">
                                        Add a set
                                    </button>
                                </div>
                            </div>

                        </div>

                        <div class="row justify-content-center align-items-center pt-5">
                            <!-- Finish exc button -->                            
                            <div class="col-auto">
                                <button type="submit" class="btn btn-secondary" name="submitBtn" value="finishExc">
                                    Finish Exercise
                                </button>
                            </div>                            
                        </div>

                        <div class="row justify-content-center align-items-center">
                            <!-- remove exc btn  -->
                            <div class="col-auto">
                                <button class="btn btn-outline-secondary border-0" type="submit" name="removeExc" value="{{ active_exc['exc_id'] }}">
                                    <small>Remove exercise</small>
                                </button>
                            </div> 
                        </div>

                        <div class="row align-items-center justify-content-between my-3">
                            <!-- prev btn -->
                            <button class="col-auto btn btn-sm btn-outline-dark mx-3 rounded-circle submitBtn" type="submit" name="submitBtn" value="prevExc">
                                &larr;
                            </button>

                            <!-- next exc btn  -->
                            <button class="col-auto btn btn-sm btn-outline-dark mx-3 rounded-circle submitBtn" type="submit" name="submitBtn" value="nextExc">
                                &rarr;
                            </button>
                        </div>

                    </div>
                </form>
                
            </div>

            <form action="/active_workout" class="row justify-content-start" method="post">
                <div class="row justify-content-end align-items-start pt-5">
                    <!-- Finish workout button -->                            
                    <div class="col-auto">
                        <button type="submit" class="btn btn-dark btn-lg" name="submitBtn" value="finishWO">
                            Finish Workout
                        </button>
                    </div>                            
                </div>
            </form>
        </div>
        
        

    </div>
</div>

<!-- add excercise Modal -->
<div class="modal fade" id="addExc" tabindex="-1" aria-labelledby="addExcLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addExcLabel">Choose an exercise to add.</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <div class="btn-group py-5" role="group" aria-label="Radio Buttons" id="btnGroup">
                <button type="button" class="btn btn-outline-dark all_exc_btn">All</button>
                <button type="button" class="btn btn-outline-dark by_muscle_btn">By Muscle</button>                    
            </div>

            <form action="/active_workout" method="post">

                <div class="list-group py-4" id="all_exc_table">
                    
                    {% for row in exercises %}

                        <label class="list-group-item form-check">
                            <input type="radio" class="form-check-input me-1" name="excOptions" value="{{ row['id'] }}" id="{{ row['id'] }}" autocomplete="off">
                            <div class="row">
                                <img src="/static/img/{{row['id']}}.png" class="col-2" alt="{{ row['id'] }}" width="64" height="64">
                                <p class="lead px-4 col-auto">{{ row['name'] }}</p>
                            </div>
                        </label>                             

                    {% endfor %}

                </div> 

                <div class="accordion container py-4" id="by_muscle_table" style="display: none;">

                    {% for muscle in muscles %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed h-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ muscle['id'] }}" aria-expanded="true" aria-controls="collapse{{ muscle['id'] }}">
                                    <div class="row">
                                        <img src="/static/img/muscles/{{ muscle['name'] }}.png" class="col-auto" alt="{{ muscle['name'] }}" width="64" height="64">
                                        <p class="lead col-auto">{{ muscle['name'] }}</p>
                                    </div>
                                </button>
                            </h2>
                        </div>

                        <div id="collapse{{ muscle['id'] }}" class="accordion-collapse collapse" aria-labelledby="heading{{ muscle['id'] }}">
                            
                            <div class="list-group py-4">

                                {% for exc in exercises %}

                                    {% if muscle['name'] == exc['primary_muscle'] %}
                                        <label class="list-group-item form-check">
                                            <input type="radio" class="form-check-input me-1" name="excOptions" value="{{ exc['id'] }}" id="{{ exc['id'] }}" autocomplete="off">
                                            <div class="row">
                                                <img src="/static/img/{{exc['id']}}.png" class="col-2" alt="{{ exc['id'] }}" width="64" height="64">
                                                <p class="lead px-4 col-auto">{{ exc['name'] }}</p>
                                            </div>
                                        </label> 
                                    {% elif muscle['name'] == exc['secondary_muscle'] %}
                                        <label class="list-group-item form-check">
                                            <input type="radio" class="form-check-input me-1" name="excOptions" value="{{ exc['id'] }}" id="{{ exc['id'] }}" autocomplete="off">
                                            <div class="row">
                                                <img src="/static/img/{{exc['id']}}.png" class="col-2" alt="{{ exc['id'] }}" width="64" height="64">
                                                <p class="lead px-4 col-auto">{{ exc['name'] }}</p>
                                            </div>
                                        </label> 
                                    {% endif %}

                                {% endfor %}

                            </div>

                        </div>
                    {% endfor %}
                                            
                </div>

                <div class="" style="display: none;" id="excDetails" >

                    <label for="setCount" class="col-form-label mr2">Number of sets</label>
                    <input type="number" class="form-control mr-sm-2" id="setCount" name="setCount" min="1" step="1" placeholder="Enter number of sets">
                    <br>
                    <label for="repCount" class="col-form-label mr2">Number of reps</label>
                    <input type="number" class="form-control mr-sm-2" id="repCount" name="repCount" min="1" step="1" placeholder="Enter number of reps">
                    <br>
                    <label for="weight" class="col-form-label mr2">Weight</label>
                    <input type="number" class="form-control mr-sm-2" id="weight" name="weight" step="1" placeholder="Enter weight to be used">
                    <br>
                    <label for="duration" class="col-form-label mr2">Time in seconds</label>
                    <input type="number" class="form-control mr-sm-2" id="duration" name="duration" step="1" placeholder="Enter the duration of the exc in seconds">
                    <br>
           
                </div>
                
                <div class="row justify-content-end">
                    <button type="button" class="btn btn-outline-dark col-auto px-2" data-bs-dismiss="modal" id="closeBtn">Close</button>
                    <button type="button" class="btn btn-dark col-auto mx-2" id="addExcBtn">Add excercise</button>
                
                    <button type="submit" class="btn btn-dark col-auto mx-2" name="submitBtn" value="addExc" style="display: none;" id="excDetailsBtn">Ok</button>

                </div>
                
            </form>
            
        </div>
        
      </div>
    </div>
</div>

{% endblock %}