{% extends "layout.html" %}

{% block title %}
    All excercises
{% endblock %}


{% block main %} 
    {% if length == 0 %}
        <p>No excercises here yet.</p>
    {% else %}
        <!-- three toggle buttons (radio buttons?) All/By Muscle/Categories -->
        <div class="btn-group py-5" role="group" aria-label="Radio Buttons">
            <button type="button" class="btn btn-outline-secondary all_exc_btn">All</button>
            <button type="button" class="btn btn-outline-secondary by_muscle_btn">By Muscle</button>
            <button type="button" class="btn btn-outline-secondary categories_btn">Categories</button>
        </div>
          
        <div class="accordion container" id="all_exc_table">
            {% for row in excercises %}           
                    
                <div class="accordion-item col-lg-11 col-md-6 col-sm-6 px-0">                    
                    <h2 class="accordion-header">
                        
                        <button class="accordion-button collapsed h-100 lead" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ row['id'] }}" aria-expanded="true" aria-controls="collapse{{ row['id'] }}">
                            <img src="/static/img/{{row['id']}}.png" alt="{{ row['id'] }}" width="64" height="64">
                            {{ row['name'] }}
                        </button>
                    </h2>

                    <div id="collapse{{ row['id'] }}" class="accordion-collapse collapse" aria-labelledby="heading{{ row['id'] }}">
                        <div class="accordion-body">                            
                            
                            <div class="container col-xxl-8 px-4 py-5">
                                <div class="flex-lg-row-reverse align-items-center g-5 py-5">
                                    <div class="py-3">                                    
                                        <video src="/static/video/{{ row['id'] }}.mp4" class="d-block mx-lg-auto img-fluid" autoplay loop muted width="700" height="500"></video>
                                    </div>
                                    <div class="exc_{{ row['id'] }}">
                                        <h1 class="display-5 fw-bold lh-1 mb-3">{{ row['name'] }}</h1>

                                        <div class="d-grid gap-2 d-md-flex justify-content-md-start btn-group py-3" role="group" aria-label="Radio Buttons">                                            
                                            <button type="button" class="btn btn-outline-secondary active instruction_btn">Instruction</button>
                                            <button type="button" class="btn btn-outline-secondary target_btn">Target</button>
                                            <button type="button" class="btn btn-outline-secondary equipement_btn">Equipment</button>                                           
                                        </div>

                                        <div class="instruction">
                                            <p class="lead">{{ row['instructions'] }}</p>
                                        </div>                                            
                                        
                                        <div class="target" style="display: none;">
                                            <div class="album py-5 bg-light">
                                                <div class="container">
                                                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">

                                                        <div class="col">
                                                            <div class="card shadow-sm">
                                                                <img class="card-img-top" src="/static/img/muscles/{{row['primary_muscle']}}.png" alt="{{row['primary_muscle']}}" loading="lazy" width="100%" height="100%">
                                                            </div>
                                                            <div class="card-body">
                                                                <p class="card-text">Primary: {{ row['primary_muscle'] }}</p>                                                        
                                                            </div>
                                                        </div>

                                                        {% if row['secondary_muscle'] %}
                                                            <div class="col">
                                                                <div class="card shadow-sm">
                                                                    <img class="card-img-top" src="/static/img/muscles/{{row['secondary_muscle']}}.png" alt="{{row['secondary_muscle']}}" loading="lazy" width="100%" height="100%">
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text">Secondary: {{ row['secondary_muscle'] }}</p>                                                        
                                                                </div>
                                                            </div>                                                                                                             
                                                        {% endif %} 

                                                    </div>                                                    
                                                </div>
                                            </div>                                            
                                        </div>

                                        <div class="equipement" style="display: none;">

                                            {% if row['equipement_id'] %}                                            
                                                <h2>Equipment id: {{ row['equipement_id'] }}</h2>
                                            {% else %}
                                                <h2>No equipement required.</h2>
                                            {% endif %} 
                                                                                                                                    
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                                                        
                        </div>
                    </div>
                </div>                
                
            {% endfor %}
        </div>

        <div class="" id="by_muscle_table" style="display: none;">
            
            <div class="container">
                <div class="row row-cols-3 row-cols-sm-4 row-cols-md-5 g-3">
                    {% for row in muscles %}

                        <div class="col"  data-bs-toggle="modal" data-bs-target="#muscle_{{ row['id'] }}">
                            <div class="card shadow-sm">
                                <img class="card-img-top clickable-img" src="/static/img/muscles/{{row['name']}}.png" alt="{{row['name']}}" loading="lazy" width="50%" height="50%">
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ row['name'] }}</p>                                                        
                            </div>
                        </div>

                        <div class="modal fade" id="muscle_{{ row['id'] }}" tabindex="-1" aria-labelledby="muscle_{{ row['id'] }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="muscle_{{ row['id'] }}">{{ row['name'] }}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="list-group list-group-flush border-bottom scrollarea align-items-start">
                                            {% for exc in excercises %}

                                                {% if row['name'] == exc['primary_muscle'] %}

                                                    <button class="list-group-item list-group-item-action py-3 lh-sm" disabled type="button">
                                                        <img src="/static/img/{{exc['id']}}.png" alt="{{ exc['id'] }}" width="64" height="64">
                                                        <p class="lead">
                                                            {{ exc['name'] }}
                                                        </p>
                                                    </button>

                                                {% elif row['name'] == exc['secondary_muscle'] %}

                                                    <button class="list-group-item list-group-item-action py-3 lh-sm" disabled type="button">
                                                        <img src="/static/img/{{exc['id']}}.png" alt="{{ exc['id'] }}" width="64" height="64">
                                                        <p class="lead">
                                                            {{ exc['name'] }}
                                                        </p>
                                                    </button>
                                                
                                                {% endif %}
                                                
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>                                    
                                    </div>
                                </div>
                              </div>                            
                        </div>

                    {% endfor %}
                </div>
            </div>                        
            
        </div>

        <div class="" id="category_table" style="display: none;">
            <p>TBD</p>
        </div>
          

        <!-- Each excercise is a clickable div that pops open that exces info page-->
        <!-- with that downward arrow thing > and v when closed or open ? -->
        <!-- has a video and instructions -->
        <!-- has a button that leads to Excercise History -->
    {% endif %}

    <script src="{{url_for('static', filename='interactions.js')}}"></script>
{% endblock %}