{% extends "layout.html" %}

{% block title %}
    All excercises
{% endblock %}


{% block main %} 
    {% if length == 0 %}
        <p>No excercises here yet.</p>
    {% else %}
        <!-- three toggle buttons (radio buttons?) All/By Muscle/Categories -->
        <div class="btn-group py-5" role="group" aria-label="Radio Buttons">
            <button type="button" class="btn btn-outline-secondary">All</button>
            <button type="button" class="btn btn-outline-secondary">By Muscle</button>
            <button type="button" class="btn btn-outline-secondary">Categories</button>
        </div>
          
        <div class="accordion container" id="all_exc_table">
            {% for row in excercises %}           
                    
                <div class="accordion-item col-lg-11 col-md-6 col-sm-6 px-0">                    
                    <h2 class="accordion-header">
                        
                        <button class="accordion-button collapsed h-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ row['id'] }}" aria-expanded="true" aria-controls="collapse{{ row['id'] }}">
                            <img src="/static/img/{{row['id']}}.bmp" alt="{{ row['id'] }}" width="64" height="64">
                            {{ row['name'] }}
                        </button>
                    </h2>

                    <div id="collapse{{ row['id'] }}" class="accordion-collapse collapse" aria-labelledby="heading{{ row['id'] }}">
                        <div class="accordion-body">
                            <!--video of said exc-->
                            <!-- toggleable buttons to switch from instruction/target muscles/equipement-->
                            
                            <div class="container col-xxl-8 px-4 py-5">
                                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                                    <div class="col-10 col-sm-8 col-lg-6">                                    
                                        <video src="/static/video/{{ row['id'] }}.mp4" class="d-block mx-lg-auto img-fluid" autoplay loop muted width="700" height="500"></video>
                                    </div>
                                    <div class="col-lg-6">
                                        <h1 class="display-5 fw-bold lh-1 mb-3">{{ row['name'] }}</h1>
                                        <p class="lead">{{ row['instructions'] }}</p>                                

                                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                            <button type="button" class="btn btn-outline-secondary btn-lg px-4">BTN 1</button>
                                            <button type="button" class="btn btn-outline-secondary btn-lg px-4">BTN 2</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                        
                        </div>
                    </div>
                </div>                
                
            {% endfor %}
        </div>
          

        <!-- Each excercise is a clickable div that pops open that exces info page-->
        <!-- with that downward arrow thing > and v when closed or open ? -->
        <!-- has a video and instructions -->
        <!-- has a button that leads to Excercise History -->
    {% endif %}

    <script src="{{url_for('static', filename='all_exc.js')}}"></script>
{% endblock %}