{% extends "layout.html" %}

{% block title %}
    My Weight
{% endblock %}


{% block main %} 


<div class="row justify-content-center py-3">
    <div class="col-md-6">
        <h1>Weight</h1>
        <canvas id="myChart" width="1066px" height="533px"></canvas>
    </div>
</div>

<div class="row justify-content-center py-3">
    <form action="/my_weight" method="post" class="col-md-6 row justify-content-end">
        <input autocomplete="off" class="form-control w-auto col-auto mx-1" id="weight" required name="weight" type="number" min="0" step="0.1">
        <button class="btn btn-dark col-auto" type="submit" name="enterWeight" value="enterWeight">Enter Weight</button>
    </form>
</div>

<div class="my-5 py-5" id="divider"></div>

<div class="row justify-content-center py-3">
    <div class="col-md-6">
        <table class="table">
            {% for entry in weightHistory %}
                <tr>
                    <td>
                        <p class="text-muted"><strong>{{ entry['weight'] }}</strong> <small>kg</small></p> 
                    </td>
                    <td><p class="text-muted">{{ entry['date'] }}</p></td>
                    <td><small class="text-muted">{{ entry['time'] }}</small></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<!-- plot script -->
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            options: {
              scales: {
                xAxes: [{
                  type: 'time',
                }]
              },
              plugins: {
                legend: {
                    display: false
                }
              }
            },
            data: {
                labels: [
                {% for entry in datetimes %}
                    "{{entry['date']}}",
                {% endfor %}
                "{{datetimes[length]['date']}}"
                ],
                datasets: [{
                  label: 'Weight, kg',
                  data: [
                    {% for entry in datetimes %}
                        {
                        t: '{{entry['date']}}',
                        y: {{entry['weight']}}
                        },
                    {% endfor %}
                    {
                      t: '{{datetimes[length]['date']}}',
                      y: {{datetimes[length]['weight']}}
                    }
                  ],
                  
                  borderColor: ['teal'],
                  borderWidth: 1
              }]
            }
          });
</script>
{% endblock %}