{% extends "layout.html" %}

{% block title %}
    Workout Summary
{% endblock %}


{% block main %} 

<div class="row justify-content-center">
    <div class="col-sm col-md-8 col-lg-6 border border-dark rounded-1">
        <div class="row border-bottom border-dark">           
            <h1 class="display-6">Woo! You smashed that workout!</h1>            
        </div>                                                                                                

        <div class="row justify-content-center border-bottom border-dark py-3">
           
            <h1 class="display-6">Todays stats:</h1>

            <p class="lead">Weight lifted: {{ totalWeightLifted }}kg</p>
            <p class="lead">Exercise completion Rate: {{ excCompletionRate }}%</p>

            

            {% if isNewPR %}
                <p class="lead">New PR! </p>
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3 justify-content-center">
                        {% for pr in newPRs %}

                            <div class="col">
                                <div class="card shadow-sm">
                                    <img class="bd-placeholder-img card-img-top" src="/static/img/cup.png" alt="PR" width="100%" height="225">
                                    <div class="card-body">
                                        <p class="card-text lead">
                                            {{ pr['exc_name'] }}
                                        </p>
                                        <p class="card-text">
                                            {{ pr['type'] }}: {{ pr['new'] }} {{ pr['measurement'] }}
                                        </p>
                                        {% if pr['old'] %}
                                            <small class="text-muted">
                                                Previous record: {{ pr['old'] }} {{ pr['measurement'] }} - {{ pr['old_date'] }}
                                            </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>


        <div class="row justify-content-center py-3">
            <h1 class="display-5">Keep going, you anxious little pickle!</h1>
        </div>
    </div>
</div>


{% endblock %}